<link rel="stylesheet" href="~/css/homepage.css" />

@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
     <h1>Welcome to <span style="color:red;">The World Bank Zym</span></h1>
     <p>Learn more about <a href="#">World Bank Zym</a></p>
</div>