<link rel="stylesheet" href="~/css/homepage.css" />

@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
     <h1>Welcome to the <span style="color:red;">ZymBank</span></h1>
     <p>Learn more about the international <a href="#">ZymBank</a></p>
</div>