.fSignUpForm {
    border: 1px solid #ccf7ff;
    background-color: #d4f6fc;
    padding: 10px;
    box-shadow: 5px 10px #aceefa;
    margin-bottom: 5rem;
}

.fSignColumns {
    display: inline-block;
    border: 1px solid #08daff;
    background-color: #c9f5ff;
    opacity: 10;
    box-shadow: 5px 10px #aceefa;
    padding: 10px;
    margin: 10px;
    vertical-align: top;
    width: 25%;
    box-sizing: border-box;
}

.contentAlignment {
    margin-left: 2rem;
    padding: 1.5rem;
}

.fItems {
    display: block;
    margin: 10px;
}

.fButtons {
    display: inline;
    border-radius: 4px;
    border: 1px solid;
    background-color: #77b3fc;
    color: white;
    margin-top: 2rem;
    height: 3rem;
    width: 30rem;
    font-family: monospace;
}

    .fButtons:hover {
        background-color: lightskyblue;
    }
